/*for all things*/
* {}
.LoginForm {}

html,body {
    overflow-y: hidden
}

.box {
    border-style: solid;
    height: 500px;
    width: 70%;
    box-shadow: 10px 10px;
    overflow: hidden;
}

.wrap {
    height: 60%;
    width: 90%;
    overflow-x: auto;
}
ul {
    list-style-type: none;
}