@model SignalRChat.Models.BasicCookie

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HSW site</title>
</head>
<body>
    <div class="father_box" align="right">
        <div class="box">
            <div class="hat_box">
                Список друзей
            </div>
            <div class="wrap">
                <table class="table">
                    <tr width="100%">
                        <th width="30%">
                            Ник пользователя
                        </th>
                        <th width="15%">
                            Возраст
                        </th>
                        <th width="30%">
                            Последний визит
                        </th>
                        <th width="25%"> Удалить | Перейти </th>
                    </tr>

                    @foreach (var item in Model.GetUserList())
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nickname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Age)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastVisit)
                            </td>
                            <td>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/User/DeleteFriend/@item.Id?userId=@Model.GetUser().Id" class="fa fa-user-secret fa-2x"></a>&nbsp;&nbsp;|
                                &nbsp;
                                <a href="/User/RedirectToCreateChat/@item.Id?userId=@Model.GetUser().Id" class="fa fa-weixin fa-2x"></a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
            <div id="UserSearchBox" >

    <i style="color:#606468; font-size: 20px">Найти друзей&nbsp;</i>
    <a href="/User/AllUsers?userId= @Model.GetUser().Id" class="fa fa-search fa-2x"></a>
</div>
        </div>

    </div>
</body>
</html>
